# Security
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# CORS
ALLOWED_ORIGINS=http://localhost:8080,http://localhost:5173

# API Users
API_USERS_DB_HOST=db-users
API_USERS_DB_PORT=5432
API_USERS_DB_NAME=users_db
API_USERS_DB_USER=postgres
API_USERS_DB_PASSWORD=postgres

# API Data
API_DATA_DB_HOST=db-data
API_DATA_DB_PORT=5432
API_DATA_DB_NAME=data_db
API_DATA_DB_USER=postgres
API_DATA_DB_PASSWORD=postgres

# Security Service
SECURITY_DB_HOST=db-acm
SECURITY_DB_PORT=5432
SECURITY_DB_NAME=acm_db
SECURITY_DB_USER=postgres
SECURITY_DB_PASSWORD=postgres

# Logger
MONGO_URL=mongodb://db-logs:27017
MONGO_DB=logs_db
REDIS_URL=redis://broker:6379

